<body class="off-canvas-sidebar">


    <div class="wrapper wrapper-full-page">
        <div class="page-header pricing-page header-filter"
            style="background-image: url('../../assets/img/escuela1.jpg')">
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0"
                    style="display:none;visibility:hidden"></iframe></noscript>
            <!-- Navbar -->
            <app-navbar-l></app-navbar-l>

            <div class="container">
                <div class="row" style="background-color: rgba(228, 36, 103, 0.768);">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h2 class="title" style="color: aliceblue;">Bienvenidos.</h2>
                        <h5 class="description">Esta pagina ayuda a llevar un registro en la nube de tus clientes,
                            ventas, articulos y proveedores de una tienda. En este caso de una papeleria.
                        </h5>
                    </div>
                </div>
                <br>

                <div class="row" style="background-color: rgba(228, 36, 103, 0.659);">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h3 class="title" style="color: aliceblue;">Registrate para comenzar.</h3>
                        <h5 class="description">Al registrarte contaras con un correo y una contraseña para poder ingresar a la pagina.
                        </h5>
                    </div>
                </div>

                <br>
                <div class="row" style="background-color: rgba(228, 36, 103, 0.556);">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h3 class="title" style="color: aliceblue;">Inicia sesion.</h3>
                        <h5 class="description">Al iniciar sesion contaras con todos los servicios para llevar tus registros en la nube.
                        </h5>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container">
                    <div class="copyright float-right">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script>2020, <i class="material-icons">favorite</i> by
                        <a href="" target="_blank">Samantha Rocha.</a>
                    </div>
                </div>
            </footer>

        </div>
    </div>
</body>