<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Datos Personales</h4>
              <p class="card-category">Datos del programador.</p>
            </div>
            <div class="card-body">
              <form>
                <div class="row">

                  <div class="col-md-12">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-floating"><strong>Nombre:</strong>  Samantha Itzel Rocha Rodriguez</label>
                      <input type="text" class="form-control" disabled="">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-floating"><strong> Institucion: </strong>Tecnologico Jose Mario Molina Pasquel y Henriquez Campus Tamazula</label>
                      <input type="text" class="form-control" disabled="">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-floating"><strong> Carrera: </strong>Ing. Tecnologias de la informacion y comunicaciones. </label>
                      <input type="text" class="form-control" disabled="">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-floating"><strong> Semestre: </strong>Tercer Semestre </label>
                      <input type="text" class="form-control" disabled="">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-floating"><strong>Correo Institucional:</strong> tm190110129@tamazula.tecmm.edu.mx</label>
                      <input type="text" class="form-control" disabled="">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-floating"><strong>Correo personal:</strong> samirocha2712@gmail.com</label>
                      <input type="text" class="form-control" disabled="">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label-floating"><strong>Telefono:</strong> 341 177 3154</label>
                      <input type="text" class="form-control" disabled="">
                    </div>
                  </div>
                </div>

                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>

        
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="javascript:;">
                <img class="img" src="../assets/img/faces/ss.jpg">
              </a>
            </div>
            <div class="card-body">
              <h6 class="card-category text-gray">Samantha Rocha </h6>
              <h4 class="card-title">Version app 1.0.3</h4>
              <p class="card-description">
               Con esta pagina web podras llevar un monitoreo de tu tienda, sobre los clientes que tienes, los articulos existentes, los proveedores y las ventas realizadas.
              </p>
              <a href="javascript:;"  class="btn btn-primary btn-round">Gracias.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>