<div class="wrapper wrapper-full-page">
    <div class="page-header error-page header-filter" style="background-image: url('../../assets/img/clint-mckoy.jpg')">
        <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
        <div class="content-center">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title">404</h1>
                    <h2>Pagina no encontrada :(</h2>
                    <h4>Ooooups!.</h4>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
    
                <div class="copyright float-right">
                    ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>2020, <i class="material-icons">favorite_border</i> by
                    <a href="" target="_blank">Samantha Rocha.</a>
                </div>
            </div>
        </footer>
    </div>
</div>